/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

/* Variables */
:root {
    --header-height: 5rem;
    --header-height-mobile: 5rem;
    /* Colors */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
    /* Typography */
    --DM-Serif-Display: "DM Serif Display", serif;
    --Karla: "Karla", sans-serif;
    --big-font-size: 3rem;
    --normal-font-size: 0.98rem;
    /* Z-Index */
    --z-fixed: 100;
    /* Transitions */
    --speed: 0.3s;
    /* sizes */
    --max-width: 1112px; /* 1366 */
}

@media screen and (max-width: 768px) {
    :root {
        --big-font-size: 3.4rem;
        --normal-font-size: 1rem;
    }
}

/* Base */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height-mobile) 0 0 0;
    padding: 0;
    font-family: var(--DM-Serif-Display);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

h1,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* Layout */
.bd-grid {
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--very-light-gray);
}

/* Nav */
.nav {
    height: var(--header-height-mobile);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--very-dark-violet);
    transition: all var(--speed) ease;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        margin-top: var(--header-height-mobile);
        background: var(--very-dark-violet);
        transition: all var(--speed) ease;
    }
}

.nav__item {
    margin-bottom: 2.75rem;
}

.nav__close,
.nav__toggle,
.nav__link,
.nav__logo {
    font-family: var(--Karla);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--very-dark-violet);
}

.nav__logo {
    font-size: 1.8rem;
    transition: 0.3s ease all;
}

.nav__link {
    font-size: 0.89rem;
    letter-spacing: 1.1px;
    color: var(--dark-grayish-violet);
    transition: all var(--speed) ease;
}

.nav__link:hover {
    color: var(--very-dark-violet);
}

#plans {
    color: var(--very-dark-violet);
    border: 2px solid var(--very-dark-violet);
    padding: 0.6rem 1.5rem;
}

#plans:hover {
    background: var(--very-dark-violet);
    color: var(--very-light-gray);
}

@media screen and (max-width: 768px) {
    .nav__logo {
        font-size: 2.4rem;
    }
    .nav__list {
        text-align: center;
    }
    .nav__link {
        color: var(--very-light-gray);
        font-size: 1.2rem;
        letter-spacing: 1.5px;
    }
    .nav__link:hover {
        color: var(--grayish-blue);
    }

    #plans {
        color: var(--very-light-gray);
        border: 2px solid var(--very-light-gray);
        display: block;
        padding: 15px 0;
        margin: 0 1rem;
    }
    #plans:hover {
        background: var(--very-light-gray);
        color: var(--dark-violet);
    }
}

.nav__toggle,
.nav__close {
    /* border: 2px solid var(--very-dark-violet); */
    font-size: 1.5rem;
    padding: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* show / hide */
.show-menu {
    right: 0;
}
.hide-close {
    display: none;
}
.hide-toggle {
    display: none;
}

main {
    margin-top: var(--header-height-mobile);
    width: 100%;
    height: 100vh;
}

/* Hero */
.hero {
    background: var(--dark-violet);
}
.hero__container {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column-reverse;
}

.hero__data {
    text-align: center;
    padding: 6rem 0;
    color: var(--very-light-gray);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.hero__data h1 {
    font-size: 2.8rem;
    line-height: 1.2;
}
.hero__data p {
    font-size: 1.05rem;
    margin-top: 1.5rem;
    line-height: 1.7;
    font-family: var(--Karla);
}

.hero__data button {
    font-family: var(--Karla);
    margin-top: 2rem;
    border: 2px solid var(--very-light-gray);
    background: transparent;
    color: var(--very-light-gray);
    text-transform: uppercase;
    padding: 0.7rem 2rem;
    cursor: pointer;
    font-size: 1.05rem;
    transition: all var(--speed) ease;
}

.hero__data button:hover {
    background: var(--very-light-gray);
    color: var(--dark-violet);
}

/* Media Queries */
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .nav {
        height: var(--header-height);
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-left: 1.75rem;
        margin-bottom: 0;
    }
    main {
        margin-top: var(--header-height);
    }
    .hero {
        padding-top: 6.6rem;
        padding-bottom: 4rem;
    }
    .hero__container {
        flex-direction: row;
        width: calc(100% - 3rem);
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .hero__data {
        padding: 3.5rem 0 3.5rem 0;
        margin-left: 0;
        margin-right: 0;
        text-align: start;
        flex: 1;
        position: relative;
    }
    .hero__data::before {
        content: "";
        position: absolute;
        width: 140px;
        height: 1px;
        background: var(--very-light-gray);
        top: 0;
    }
    .hero__data h1 {
        line-height: 1.1;
        font-size: 4rem;
    }
    .hero__data p {
        margin-top: 1.4rem;
        font-size: 1rem;
    }
    .hero__data button {
        margin-top: 2rem;
        padding: 0.6rem 2rem;
        font-size: 1rem;
    }
    .hero-img__container {
        position: relative;
        flex: 1;
    }
    .hero__img {
        position: absolute;
        right: 0;
        width: 98%;
    }
}

@media screen and (min-width: 1366px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .hero__container {
        margin-left: auto;
        margin-right: auto;
    }
}
